<div class="section">
    <h2 class="call-to-action">Haz una nueva reserva</h2>

    <form (ngSubmit)="crearReserva()" class="card">
        <div>
            <label>Pista:</label>
            <div class="pista-buttons">
                <button type="button" class="navbar-item" *ngFor="let pista of pistas" [ngClass]="{
        'primary-button': nuevaReserva.pista_id === pista.id,
        'secondary-button': nuevaReserva.pista_id !== pista.id
      }" (click)="seleccionarPista(pista.id)">
                    {{ pista.nombre }}
                </button>
            </div>
        </div>

        <div>
            <label for="fecha">Fecha: </label>
            <input type="date" id="fecha" [(ngModel)]="nuevaReserva.fecha" name="fecha" required
                (change)="actualizarHorasDisponibles()" />
        </div>

        <div>
            <label>Hora:</label>
            <div class="hora-buttons">
                <button type="button" class="navbar-item" *ngFor="let hora of horasDisponibles" [ngClass]="{
              'primary-button': nuevaReserva.hora === hora,
              'secondary-button': nuevaReserva.hora !== hora
            }" (click)="seleccionarHora(hora)">
                    {{ hora }}
                </button>
            </div>
        </div>
        <br>
        <button type="submit" class="primary-button navbar-item" style="width: 250px;display: block; margin: 0 auto;">Reservar</button>
    </form>
</div>