<div class="section">
    <h2 class="call-to-action">Haz una nueva reserva</h2>

    <form (ngSubmit)="crearReserva()" class="card">
        <div>
            <label for="pista">Pista:</label>
            <select id="pista" [(ngModel)]="nuevaReserva.pista_id" name="pista" required
                (change)="actualizarHorasDisponibles()">
                <option [ngValue]="null" disabled selected>Selecciona una pista</option>
                <option *ngFor="let pista of pistas" [ngValue]="pista.id">{{ pista.nombre }}</option>
            </select>

        </div>

        <div>
            <label for="fecha">Fecha: </label>
            <input type="date" id="fecha" [(ngModel)]="nuevaReserva.fecha" name="fecha" required
                (change)="actualizarHorasDisponibles()" />
        </div>

        <div>
            <label for="hora">Hora: </label>
            <select id="hora" [(ngModel)]="nuevaReserva.hora" name="hora" required>
                <option value="" disabled selected>Selecciona una hora</option>
                <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
            </select>
        </div>
        <br>
        <button type="submit" class="primary-button navbar-item">Reservar</button>
    </form>
</div>