<section class="section">
  <div class="card">
    <h2 class="highlight">Perfil de Usuario</h2>

    <div class="info-block">
      <p><strong>Nombre de usuario:</strong> {{ usuario?.username }}</p>
      <p><strong>Email:</strong> {{ usuario?.email }}</p>
      <p>
        <strong>Membresía:</strong>
        <span [class]="usuario?.membresia_activa ? 'highlight' : 'text-warning'">
          {{ usuario?.membresia_activa ? 'Activa' : 'Inactiva' }}
        </span>
      </p>
    </div>
    <div *ngIf="!usuario?.membresia_activa" class="mt-3">
      <button (click)="activarMembresia()" class="primary-button navbar-item">
        Activar membresía (1 mes)
      </button>
    </div>

    <button *ngIf="usuario?.membresia_activa" class="primary-button navbar-item" (click)="confirmarCancelacion()">
      Cancelar Membresía
    </button>

    <div *ngIf="mostrarConfirmacion" class="modal-overlay">
      <div class="modal">
        <h3>¿Estás seguro?</h3>
        <p>Esta acción cancelará tu membresía activa y todas tus reservas de pista.</p>
        <div class="modal-buttons">
          <button class="secondary-button navbar-item" (click)="cancelarMembresia()">Sí, cancelar</button>
          <button class="primary-button navbar-item" (click)="mostrarConfirmacion = false">No</button>
        </div>
      </div>
    </div>

    <div class="info-block">
      <br>
      <br>

      <div *ngIf="reservas.length > 0; else noReservas">
        <label for="filtro">Filtrar por estado: </label>
        <select id="filtro" [(ngModel)]="filtroEstado">
          <option value="todas">Todas</option>
          <option value="confirmada">Confirmadas</option>
          <option value="completada">Completadas</option>
          <option value="cancelada">Canceladas</option>
        </select>
        <h3 class="call-to-action">Reservas</h3>
        <ul>
          <li *ngFor="let reserva of reservasFiltradas">
            <div class="card pista-card">
              <p><strong>Pista:</strong> {{ reserva.pista.nombre }}</p>
              <p><strong>Fecha:</strong> {{ reserva.fecha | date:'fullDate' }}</p>
              <p><strong>Hora:</strong> {{ reserva.hora }}</p>
              <p><strong>Estado:</strong>
                <span [ngClass]="{
        'text-success': reserva.estado === 'confirmada',
        'text-muted': reserva.estado === 'completada',
        'text-danger': reserva.estado === 'cancelada'
      }">
                  {{ reserva.estado }}
                </span>
              </p>
            </div>
          </li>
        </ul>
      </div>

      <ng-template #noReservas>
        <h3 class="call-to-action">No tienes reservas confirmadas</h3>
      </ng-template>
    </div>

  </div>
</section>