<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-logo-link">
      <img src="Logo.png" alt="Logo" class="navbar-logo">
    </a>
  </div>
  <div class="navbar-menu">
    <a routerLink="/" class="navbar-item primary-button">Inicio</a>
    <a routerLink="/reserva" class="navbar-item primary-button">Reservar Pista</a>
    <a routerLink="/contacto" class="navbar-item primary-button">Contacto</a>
    <div *ngIf="loginService.loggedIn$ | async; else notLoggedIn">
      <div class="navbar-item auth-buttons">
        <a routerLink="/perfil" class="navbar-item secondary-button">Perfil</a>
        <span class="button-separator">/</span>
        <a (click)="cerrarSesion()" class="navbar-item secondary-button">Cerrar sesión</a>
      </div>
    </div>
    <ng-template #notLoggedIn>
      <div class="navbar-item auth-buttons">
        <a routerLink="/login" class="navbar-item secondary-button">Iniciar Sesión</a>
        <span class="button-separator">/</span>
        <a routerLink="/register" class="navbar-item secondary-button">Registrarse</a>
      </div>
    </ng-template>
  </div>
</nav>