<section class="section">
  <div class="card">
    <h2 class="highlight">Simulación de pago</h2>
    <form>
      <label>Número de tarjeta</label>
      <input type="text" disabled value="**** **** **** 4242">

      <label>Nombre</label>
      <input type="text" disabled value="Julian Moreno">

      <label>Fecha de expiración</label>
      <input type="text" disabled value="12/99">

      <label>CVV</label>
      <input type="text" disabled value="123">

      <p class="call-to-action mt-4">Te imaginas que estás pagando...</p>
    </form>
  </div>
</section>